.srtoHeaderContainer {
    position: relative;
    display: grid;
    z-index: 100;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: black;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    transition: height 500ms ease;
    box-shadow: inset 0 0 20px 1px black;
    user-select: none;
    /* transition: 0.4s ease; */
}

.headerTitleContainer {
    justify-self: start;
}

.headerOptionsContainer {
    justify-self: end;
}

.srtoHeaderTitle {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 900;
    height: 100%;
    align-items: center;
    padding-left: 12px;
}

.clockContainer {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    align-items: center;
    padding: 2px 5px;
    color: black;
    background-color: white;
    font-size: 24px;
    font-weight: 600;
    /* width: 100px; */
}

.srtoHeaderContainer.hideHeader {
    height: 0px;
}

.openOptionsButtonContainer {
    display: flex;
    justify-content: center;
    justify-self: end;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    font-size: 18px;
    padding: 2px 6px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    margin-right: 12px;
    transition: 350ms ease;
}

.openOptionsButtonContainer:hover {
    background-color: rgb(30, 30, 30);
}

.openOptionsButtons {
    transition: 400ms ease;
}

.openOptionsButtons.rotateCogWheel {
    transform: rotate(-900deg);
}

.optionsText {
    width: 0;
    opacity: 0;
    transition: width 350ms ease, opacity 150ms ease;
    overflow: hidden;
    text-align: center;
    text-wrap: nowrap;
}

.optionsText.showOptionsText {
    opacity: 1;
    width: 180px;
}


.optionListContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    top: 45px;
    right: 12px;
    /* padding: 5px 5px; */
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 1);
    /* backdrop-filter: blur(6px); */
    overflow: hidden;
    border: 0px solid rgba(255, 255, 255, 0.35);
}

.openOptionsList {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 0.35);
    animation: openOptionListKeyframes 1000ms ease forwards;
}

@keyframes openOptionListKeyframes {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
    }

    25% {
        opacity: 1;
        height: 40px;
        width: 300px;
    }

    50% {
        opacity: 1;
        height: 40px;
        width: 300px;
    }

    100% {
        opacity: 1;
        height: 250px;
        width: 300px;
    }
}

.optionListTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 90%;
    height: 30px;
    font-size: 22px;
    margin: 5px;
    margin-bottom: 15px;
    padding: 0 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: inset 0px -4px 14px 0.1px rgba(255, 255, 255, 0.2);
}

.changeServerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    width: 260px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 200ms ease;
}

.changeServerButton:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

.serverSelectionList {
    position: fixed;
    z-index: 90;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -150px);
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    background-color: black;
    margin: 0 auto;
    max-height: 50px;
    width: 750px;
    height: auto;
    transition: transform 500ms ease-in-out 150ms, max-height 350ms ease-in-out;
    overflow: hidden;
}

.serverSelectionList.openServerList {
    transition: transform 500ms ease-in-out, max-height 350ms ease-in-out 550ms;
    max-height: 800px;
    transform: translate(-50%, 0px);
}

.serverListTitle {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.serverListContainer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px;
}

.serverOption {
    display: flex;
    font-size: 18px;
    flex-direction: row;
    align-items: center;
    width: 97%;
    height: 24px;
    border-radius: 4px;
    padding: 0 6px;
}

.serverOption:hover {
    border-right: 1px solid white;
    border-left: 1px solid white;
    box-shadow: inset 50px 0px 10px 0.1px rgb(255, 255, 255, 0.1);
}

.serverOnlineIndicator {
    width: 5px;
    height: 80%;
    border-radius: 2px;
    background-color: red;
    margin-right: 5px;
}

.serverOnlineIndicator.serverOnline {
    background-color: lime;
}

.serverOnlineIndicator.serverOffline {
    background-color: red;
}

.bottomBorderLine {
    margin: 10px 0;
    width: 90%;
    border-bottom: 1px solid white;
}

.singleOptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 90%;
    padding: 5px 10px;
}

.optionCheckboxSlider {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.optionCheckboxSlider input {
    opacity: 0;
    width: 0;
    height: 0;
}

.srtoOption_stationNameLength {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.srtoOption_showTestTrains {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 10px;
    align-items: center;
}

.checkboxSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888888;
    -webkit-transition: .4s;
    transition: 0.4s;
}

.checkboxSlider:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: 0.4s;
}

input:checked+.checkboxSlider {
    background-color: #2194F3;
}

input:checked+.checkboxSlider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}