.srtoCanvasContainer {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
}

.srto-canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgb(28, 28, 28); */
}

.infoContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 25px;
    /* padding: 6px 10px; */
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 20px;
    line-height: 1;
    pointer-events: none;
}
.versionInfo {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    height: 75%;
    margin-left: auto;
    justify-content: flex-end;
    align-items: end;
}
.devInfo{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgba(255, 100, 100, 0.1);
    gap: 20px;
    padding: 0 10px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
}