/*IMPLEMENT ANIMATION FOR SPECIAL COLORS*/
/*
FOR EXAMPLE


*/
.trainStoppedAtABS{
    animation: trainStopped 500ms infinite alternate;
}
@keyframes trainStopped {
    from { stroke: gray; }
    to { stroke: red; }
}

.hideTrainsFromPane {
    display: none;
}