.selectionContainer {
    position: fixed;
    font-size: 20px;
    z-index: 0;
    top: 12px;
    right: 12px;
    padding: 6px 10px;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-items: center;
    user-select: none;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 6px;
}

.serverSelectionContainer,
.areaSelectionContainer {
    position: relative;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: start;
    /* padding-right: 20px; */
    flex-direction: row;
}

.selectionText {
    padding-right: 10px;
}

.selectionList {
    position: relative;
    color: white;
    min-width: 80px;
}

.areaSelectionList {
    min-width: 210px;
}

.selectedOption {
    padding: 0 5px;
    min-width: 100px;
    /* text-align: center; */
}

.selectServerText {
    padding: 4px 0;
    text-align: center;
}

.optionList {
    position: fixed;
    z-index: 999;
    display: grid;
    grid-template-rows: repeat(auto-fit, max-content);
    gap: 2px;
    backdrop-filter: blur(5px);
    max-height: 0;
    min-width: 200px;
    opacity: 0;
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    padding: 5px 10px;
    overflow: hidden;
    transition: max-height 350ms ease, opacity 250ms ease 300ms;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(0, 0, 0, 0.5);
}

.optionList.isOpen {
    max-height: 550px;
    opacity: 1;
    transition: max-height 500ms ease 50ms, opacity 250ms ease;
}

.option {
    padding-left: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    transition: margin 0.3s ease;
}

.option:hover {
    /* background-color: rgb(190, 190, 190); */
    margin-left: 15px;
}

.currentOption::after {
    content: ' (selected)';
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.isOn {
    color: green;
}

.isOff {
    color: red;
}




.sspOptionsContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    bottom: 24px;
    right: 24px;
    /* padding: 0px 15px; */
    font-size: 14px;
    /* overflow: hidden; */
    transition: 0.4s;
}

.sspOptionsHeader {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    border-radius: 6px;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.9);
}

.sspOptionsTitle {
    font-size: 18px;
    font-weight: 900;
}

.openOptionsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 18px;
    font-weight: 100;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    transform: rotate(180deg)
}
.openOptionsButton.rotateOptionsArrow{
    transform: rotate(0deg)
}

.openOptionsButton:hover {
    background-color: rgb(40, 40, 40);
    font-size: 20px;
}
.sspOptions {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    max-height: 0;
    width: 100%;
    padding: 0 8px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    gap: 6px;
    transition: max-height 300ms ease, padding 300ms ease, opacity 150ms ease 300ms;
}
.sspOptions.optionsOpen{
    transition: max-height 300ms ease 150ms, padding 300ms ease 150ms, opacity 150ms ease 0ms;
    padding: 10px 8px;
    max-height: 100px;
    width: 100%;
    opacity: 1;
}
.optionRow {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 6px;
}


